@import "tailwindcss";

@font-face {
  font-family: 'PrimaryFont';
  src: url('/assets/fonts/primary.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('/assets/fonts/secondary.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: oklch(0.5152 0.090469 185.7334);
  --color-primary-contrast: oklch(0.9846 0.0017 247.84);
  --color-secondary: oklch(0.3056 0.0654 288.09);
  --color-secondary-contrast: oklch(0.9846 0.0017 247.84);
  --color-accent: oklch(0.6706 0.2393 195.88);
  --color-accent-contrast: oklch(0.9846 0.0017 247.84);
  
  --color-neutral: oklch(0.9363 0.0218 83.26);
  --color-neutral-contrast: oklch(0.1529 0.0444 288.09);
  --color-neutral2: oklch(0.8887 0.0218 0);
  --color-neutral2-contrast: oklch(0.1529 0.0444 288.09);
  --color-neutral3: oklch(0.7878 0.0218 0);
  --color-neutral3-contrast: oklch(0.1529 0.0444 288.09);
  
  --font-primary: 'PrimaryFont', sans-serif;
  --font-secondary: 'SecondaryFont', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.nav {
  height: 56px;
}

.minus-nav {
  height: calc(100vh - 56px);
  overflow: scroll;
}

.sup-min-nav {
  min-height: calc(100vh - 56px);
}